/*--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- reset code --*/
body{
	padding:0;
	margin:0;
	background:#FFF;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	padding:0;
}	
p{
	margin:0;
	padding:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
button{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
img {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- /reset code --*/
body {
	font-family: 'Raleway', sans-serif;
	font-weight:100;
}
/*-- navigation --*/
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}
.navbar-inverse .navbar-brand h1{
	font-size:30px;
	font-family: 'Poiret One', cursive;
}
h1 span {
    background:#C5413E;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5em 0.7em;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 3px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:transparent;
}
.navbar-inverse {
    background-color:transparent;
    border-color:transparent;
}
.navbar-brand {
	padding:8px 15px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
	font-weight: 400;
    font-size: 17px;
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
ul.nav.navbar-nav.navbar-right {
    margin: 10px 0 0 0;
}
/* Effect 21: borders slight translate */
.cl-effect-21 li a {
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 li a::before,
.cl-effect-21 li a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 li a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 li a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 li a:hover,
.cl-effect-21 li a:focus {
	color: #fff;
}

.cl-effect-21 li a:hover::before,
.cl-effect-21 li a:focus::before,
.cl-effect-21 li a:hover::after,
.cl-effect-21 li a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

@media (min-width: 768px) {
	.navbar-wrapper {
    margin-top: 20px;
}
	.navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
}
	.navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
}
	.navbar-wrapper .navbar {
    border-radius: 4px;
}
} 
/*-- /navigation --*/
/*-- banner section --*/
.header { 
	height:925px;
}
.bgfader{
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: none;
}
.bgfader-overlay{
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.bgfader > .image{
	display: none;
}

.bgfader, .bgfader > .image{
	width: 100%;
	height: 100%;
	background-position: center;
	background-attachment:fixed;
	background-repeat: no-repeat;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}
/*-- /banner section --*/
/*-- about section --*/
section.about-us {
	padding:100px 0;
}
section.about-us h2.text-center {
	font-size:40px;
	font-family: 'Poiret One', cursive;
	font-weight:normal;
	padding:20px 0;
}
section.about-us p.text-center {
	font-size: 18px;
    font-weight: 300;
    padding-bottom: 25px;
}
section.about-us p.abt {
	text-align: center;
    font-size: 17px;
    padding: 0 80px;
    font-weight: 400;
    line-height: 1.9em;
    color: #8A8585;
}
/*-- /about section --*/
/*-- service section --*/
section.our-services {
	padding:100px 0;
	background:url(../images/service.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}
section.our-services h3.text-center {
	font-size:40px;
	font-weight:normal;
	padding:20px 0;
	font-family: 'Poiret One', cursive;
	color:#fff;
}
section.our-services p.text-center {
	font-size:18px;
	font-weight:300;
	padding-bottom:50px;
	color:#fff;
}
.serv-info {
    text-align: center;
}
section.our-services i.fa {
	font-size: 40px;
    text-align: center;
    vertical-align: middle;
	border-radius: 5px;
    padding: 20px;
    width: 90px;
    color: #fff;
	transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    background-color: #31708f;
}
section.our-services i.fa:hover {
	background-color:#12394C;
	color:#fff;
}
section.our-services h4.text-center {
	font-size:23px;
	font-weight:700;
	padding:20px 0;
	font-family: 'Poiret One', cursive;
	color:#fff;
}
section.our-services p.serv {
	font-size: 15px;
    font-weight: 300;
    line-height: 29px;
    color: #ECEBEB;
    padding: 0 40px;
}
/*-- /service section --*/
/*-- skill section --*/
section.our-skills {
	padding:100px 0;
}
section.our-skills h3.text-center {
	font-size:40px;
	font-weight:normal;
	padding:20px 0;
	font-family: 'Poiret One', cursive;
}
section.our-skills p.text-center {
	font-size: 18px;
    font-weight: 300;
    margin-bottom: 60px;
    color: #000;
}
/*-- skill section --*/
/*-- gallery section --*/
section.our-gallery {
	padding:100px 0;
	background:url(../images/gallery.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}
section.our-gallery h3.text-center {
	font-size:40px;
	font-weight:normal;
	padding:20px 0;
	font-family: 'Poiret One', cursive;
	color:#fff;
}
section.our-gallery p.text-center {
	font-size: 18px;
    font-weight: 300;
    padding-bottom: 50px;
    color: #fff;
}
/*-- /gallery section --*/
/*-- news section --*/
section.our-updates {
	padding:100px 0;
}
section.our-updates h3.text-center {
	font-size:40px;
	font-weight:normal;
	padding:20px 0;
	font-family: 'Poiret One', cursive;
}
section.our-updates p.text-center {
	font-size:18px;
	font-weight:300;
	padding-bottom:50px;
}
.update-row {
	padding:10px 0;
}
.view {
   width: 250px;
   height: 250px;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.view .mask,.view .content {
   width: 250px;
   height: 250px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h4 {
   text-transform: uppercase;
   color: #fff;
   font-family: 'Poiret One', cursive;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 60px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 14px;
   position: relative;
   color: #fff;
   padding:20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   font-family: 'Poiret One', cursive;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.update-details {
    margin-left: -10%;
}   
.update-details h4 {
	color:#000;
	font-family: 'Poiret One', cursive;
	font-weight:600;
    font-size: 23px;
	line-height:30px;
}
.update-details p {
    font-size: 17px;
    font-weight:400;
    word-spacing: 4px;
    padding: 20px 0;
	line-height:30px;
	color:#8A8585;
}
.update-details a {
    font-size: 16px;
    font-weight: 600;
    word-spacing: 4px;
    padding: 20px 0;
    line-height: 27px;
    color: #31708F;
}
.update-details a:hover { 
	color:#ae380e;
}
.row.update {
    padding-top: 20px;
}
/*-- /news section --*/
/*-- map section --*/
section.map iframe.googlemaps {
	width:100%;
	height:400px;
}
/*-- /map section --*/
/*-- contact section --*/
section.contact-us {
	padding:100px 0;	
	background:url(../images/contact.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}
section.contact-us h3.text-center {
	font-size:40px;
	font-weight:normal;
	font-family: 'Poiret One', cursive;
	padding:20px 0;
	color: #fff;
}
section.contact-us p.text-center {
    font-size: 18px;
    font-weight: 300;
    padding: 0 0 50px;
    color: #fff;
}
input#name , input#email , textarea#comments {
	color:#fff;
	border-radius: 0px;
	margin-bottom:10px;
	background-color: rgba(255, 255, 255, 0);
	font-size:17px;
	border:1px solid #fff
}
input#name , input#email  {
	height:55px;	
}
input::-webkit-input-placeholder {
color: #fff !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
}
 
input:-ms-input-placeholder {  
color: #fff !important;  
}
textarea::-webkit-input-placeholder {
color: #fff !important;
}
 
textarea::-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
}
 
textarea::-ms-input-placeholder {  
color: #fff !important;  
}
textarea#comments {
	height:150px;
}
section.contact-us form button {
	border-radius: 0px;
    padding: 10px 30px;
}
.btn-outline1 {
	font-family: 'Poiret One', cursive;
    border: solid 1px #fff;
    font-size: 20px;
    color: #fff;
	font-weight:normal;
    background: 0 0;
    transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
}
.btn-outline1:hover,
.btn-outline1:focus,
.btn-outline1:active {
    border: solid 1px #fff;
    color: #18bc9c;
    background: #fff;
}
section.contact-us .contact-info h4 {
	font-size:25px;
	font-weight:normal;
	padding:20px 0;
	font-family: 'Poiret One', cursive;
	color:#fff;
}
section.contact-us .contact-info .contact-details span.glyphicon {
	color: #fff;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #fff;
    padding: 15px;
	transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
}
section.contact-us .contact-info .contact-details span.glyphicon:hover {
	background-color:#fff;
	border: 1px solid #fff;
	color:#a94442;
}  
section.contact-us .contact-info .contact-details p.p1 {
	color:#fff;
    font-size: 17px;
	font-weight:normal;
    margin: -60px 0 12px 80px;
}
section.contact-us .contact-info .contact-details p.p2 {
	color:#fff;
	font-size: 17px;
	font-weight:600;
	margin: 0px 0 20px 80px;
}
section.contact-us .contact-info .contact-details p.p1 a,section.contact-us .contact-info .contact-details p.p2 a {
	text-decoration:none;
	color:#fff;
}
/*-- /contact section --*/
/*-- footer section --*/
footer {
    color: #fff;
}
footer h4 {
	font-weight:normal;
	font-size:25px;
	font-family: 'Poiret One', cursive;
	padding-bottom:35px;
}
footer a {
	color:#fff;
	text-decoration:none;
}
footer a:hover {
	text-decoration:none;
	color:red;
}
footer .footer-above {
    padding-top: 50px;
    background-color:#111113;
}
footer .footer-above p {
	font-size: 15px;
    line-height: 31px;
    font-weight: 400;
}
footer .footer-above i.fa {
	color: #3C86AB;
}
footer .footer-col {
    margin-bottom: 50px;
}
footer .footer-below {
    padding: 25px 0;
    background-color:rgb(11, 11, 12);
}
footer .footer-below  p {
	color:#fff;
	font-size:15px;
	font-weight:400;
}
footer .footer-below  p a {
	color:#fff;
	text-decoration:none;
}
footer .footer-below  p a:hover {
	color:#31708f;
}
.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
	transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
}
.btn-social:hover,
.btn-social:focus,
.btn-social:active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}
/*-- /footer section --*/
/*-- back to top --*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.4) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  background-size:60%;
  border:1px solid #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top:hover {
  background-color: #000;
  opacity: 1;
  border:1px solid #000; 
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
	
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px;
  }
}
/*-- /back to top --*/
/*-- slide animations --*/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/*-- /slide animations --*/
/*-- responsive design --*/
@media (max-width: 1600px) {
	.header {
    height: 795px;
}
}

@media (max-width: 1366px) {
.header {
    height: 765px;
}
}

@media (max-width: 1080px) {
section.our-services p.serv {
	padding:0 20px;	
}
.update-details {
    margin-left:-3px;
}
.view {
    width: 230px;
    height: 230px;
}
.view .mask, .view .content {
    width: 230px;
    height: 230px;
}
.update-details h4 {
	font-size: 20px;
}
.update-details p {
	font-size: 15px;
	padding:10px 0;
}
.view h4 {
	margin: 50px 0 0 0;
}
.view p {
	padding:20px 10px;
}
}

@media (max-width: 1024px) {
.header {
    height: 685px;
}
section.about-us , section.our-services ,section.our-skills,section.our-gallery, section.our-updates, section.contact-us {
    padding: 50px 0 70px;
}
}

@media (max-width: 991px) {
.nav>li>a {
	padding: 10px 12px;	
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -70px;
}
.navbar-brand {
    padding: 10px 15px;
}
.header {
    height: 595px;
}
section.about-us p.abt {
	padding:0px;
}
.col-lg-4.col-md-4.col-sm-6.last-serv {
    margin: 60px 0 0 182px;
}
.photoGallery {
    width: 235px;
}
.view {
    width: 250px;
    height: 250px;
    margin-bottom: 40px;
}
.view .mask, .view .content {
    width: 250px;
    height: 250px;
}
.update-details {
    margin: 0px 0 0px -100px;
}
.update-details h4 {
    font-size: 22px;
}
.update-details p {
    font-size: 16px;
    padding: 30px 0;
}
.view p {
	font-size: 15px;
}
section.contact-us form button {
	width:100%;
}
section.contact-us .contact-info h4 {
	text-align:center;
	padding: 45px 0 30px;
}
.contact-details {
    margin-left: 250px;
}
ul.nav.navbar-nav.navbar-right {
    margin: 17px -85px 0 0px;
}
}

@media (max-width: 800px) {
	section.about-us p.text-center ,section.our-services p.text-center, section.our-skills p.text-center ,section.our-gallery p.text-center, section.our-updates p.text-center, section.contact-us p.text-center {
    font-size: 17px;
	font-weight:400;
	}
	section.our-services p.serv {
    font-size: 16px;
    font-weight: 300;
	}
	section.about-us p.abt {
	font-size:15px;	
	}
.header {
    height: 520px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -20px;
}
.nav>li>a {
    padding: 9px 9px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    margin-top: 5px;
}
ul.nav.navbar-nav.navbar-right {
    margin: 17px -30px 0 0px;
}
}

@media (max-width: 768px) {
	ul.nav.navbar-nav.navbar-right {
    margin: 17px -15px 0 0px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -10px;
}
section.about-us h2.text-center,section.our-services h3.text-center,section.our-skills h3.text-center,section.our-gallery h3.text-center,section.our-updates h3.text-center,section.contact-us h3.text-center {
	font-size:35px;
}
	h1 span {
    background: #C5413E;
    font-family: 'Montserrat', sans-serif;
    padding: 0.4em 0.5em;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 3px;
}
}

@media (max-width: 736px) {
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 20px;
}
.header {
    height: 350px;
}
section.our-services p.serv {
    padding: 0 100px 60px;
}
.col-lg-4.col-md-4.col-sm-6.last-serv {
    margin: 0;
}
.photoGallery {
    width: 220px;
}
.contact-details {
    margin-left: 230px;
}
ul.nav.navbar-nav.navbar-right {
    margin: 10px 0 0 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.58);
    overflow-y: hidden;
}
}

@media (max-width:667px) {
.header {
    height: 311px;
}
.photoGallery {
    width: 195px;
}
.update-details {
    margin: 0px 0 0px -62px;
}
.update-details p {
    font-size: 16px;
    padding: 15px 0;
}
section.map iframe.googlemaps {
	height:280px;
}
.contact-details {
    margin-left: 170px;
}
}

@media (max-width:640px) {
	.header {
    height: 400px;
}
.navbar-brand {
	padding-top:18px;	
}
.navbar-toggle {
	margin-top: 22px;
    margin-right: 35px;
}
section.about-us p.text-center,section.our-gallery p.text-center ,section.our-services p.text-center {
    font-size: 16px;
}
section.our-skills p.text-center {
    font-size: 16px;
	padding-bottom:30px;
}
section.our-updates p.text-center {
    font-size: 16px;
}
.sonny_progressbar p.title {
    font-size: 15px;
}
.update-details {
    margin: 0px 0 0px -50px;
}
.view h4 {
    margin: 60px 0 0 0;
}
.contact-details {
    margin-left: 150px;
}
}

@media (max-width:600px) {
section.about-us, section.our-services, section.our-skills, section.our-gallery, section.our-updates, section.contact-us {
    padding: 30px 0 60px;
}
.photoGallery {
    width: 180px;
}
.update-details {
    margin: 0px 0 0px -25px;
}
.contact-details {
    margin-left: 140px;
}
}

@media (max-width: 568px) {
.header {
    height: 260px;
}
section.about-us p.text-center, section.our-gallery p.text-center, section.our-services p.text-center {
    font-size: 15px;
	line-height:25px;
    padding: 0 20px 25px;
}
section.about-us p.abt {
    padding: 0 20px;
}
section.our-services p.serv {
    font-size: 15px;
}
section.our-skills p.text-center {
    font-size: 15px;
	line-height:25px;
	padding: 0 10px;
}
section.our-updates p.text-center {
    font-size: 15px;
	line-height:25px;
	padding: 0 20px 40px;
}
.photoGallery {
    width: 170px;
}
.update-details {
    margin: 0px 0 0px -10px;
}
.update-details p {
    font-size: 15px;
    line-height: 25px;
}
section.contact-us p.text-center {
    font-size: 15px;
	padding: 0 20px 40px;
	line-height:25px;
}	
section.map iframe.googlemaps {
    height: 250px;
}
.contact-details {
    margin-left: 120px;
}
}

@media (max-width: 480px) {
section.about-us h2.text-center, section.our-services h3.text-center, section.our-skills h3.text-center, section.our-gallery h3.text-center, section.our-updates h3.text-center, section.contact-us h3.text-center {
    font-size: 30px;
}
section.our-services p.serv {
    padding: 0 60px 60px;
}
section.our-gallery p.text-center {
	padding-bottom:40px;
}
.view {
    width: 215px;
    height: 215px;
}
.view .mask, .view .content {
    width: 215px;
    height: 215px;
}
.update-details h4 {
    font-size: 20px;
}
.update-details p {
    font-size: 15px;
    padding: 10px 0 5px;
}
.update-details a {
	font-size:18px;
}
.view h4 {
    margin: 30px 0 0 0;
}
.contact-details {
    margin-left: 60px;
}
}


@media (max-width: 414px) {
section.about-us p.text-center, section.our-gallery p.text-center, section.our-services p.text-center {
    font-size: 16px;
    padding: 0 15px 40px;
}
section.our-services {
	padding:30px 0;
}
.view {
    width: 250px;
    height: 250px;
	margin-bottom: 20px;
}
.view .mask, .view .content {
    width: 250px;
    height: 250px;
}
.update-details {
    margin: 0px 0 50px 0;
}
.col-xs-6.news-info {
    width: 100%;
}
section.our-services p.serv {
    padding: 0 30px 60px;
}
section.our-updates {
	text-align: -webkit-center;
	padding: 30px 0 10px;
}
.view h4 {
    margin: 50px 0 0 0;
}
section.about-us p.abt {
	padding:0 10px;
}
.contact-details {
    margin-left: 25px;
}
.contact-details {
    margin-left: 25px;
}
section.map iframe.googlemaps {
    height: 200px;
}
}

@media (max-width: 384px) {
.photoGallery {
    width: 280px;
}
input#name, input#email {
    height: 45px;
}
.contact-details {
    margin-left: 15px;
}
h1 span {
    background: #C5413E;
    font-family: 'Montserrat', sans-serif;
    padding: 0.3em 0.5em;
    font-weight: bold;
    font-size: 1em;
    margin-right: 3px;
}
}

@media (max-width: 375px) {
	section.about-us, section.our-services, section.our-skills, section.our-gallery, section.our-updates, section.contact-us {
    padding: 20px 0 20px;
}
section.our-services {
    padding: 30px 0 0 0!important;
}
section.about-us p.text-center, section.our-gallery p.text-center, section.our-services p.text-center {
	padding: 0 15px 20px;	
}
.serv-info {
	margin-top:10px;
}
#photoGallery-container {
	margin-top:10px;
}
section.our-updates p.text-center {
    font-size: 16px;
    padding: 0 10px 40px;
}
.contact-details {
    margin-left: 7px;
}
footer .footer-above {
    padding-top: 25px;
}
footer .footer-col {
    margin-bottom: 22px;
}
p {
    font-size: 14px!important;
}
footer h4 {
    padding-bottom: 10px;
}
ul.list-inline {
    margin-top: 12px;
}
}

@media (max-width: 320px) {
	.update-details {
    margin: 0px 0 20px 0;
}
section.about-us h2.text-center, section.our-services h3.text-center, section.our-skills h3.text-center, section.our-gallery h3.text-center, section.our-updates h3.text-center, section.contact-us h3.text-center {
    font-size: 25px;
}
section.about-us p.text-center, section.our-gallery p.text-center, section.our-services p.text-center {
    font-size: 15px;
}
section.about-us p.abt {
    font-size: 14px;
}
section.our-services h4.text-center {
    font-size: 20px;
}
section.our-services p.serv {
    font-size: 15px;
}
section.our-skills p.text-center {
    font-size: 15px;
	margin-bottom: 20px;
}
.sonny_progressbar p.title {
    font-size: 14px;
}
section.our-updates p.text-center {
    font-size: 15px;
    font-weight: 300;
}
.update-details h4 {
    font-size: 20px;
}
.update-details p {
    font-size: 14px;
}
.update-details a {
    font-size: 17px;
}
section.contact-us p.text-center {
    font-size: 15px;
	padding:0 0 30px;
}
input#name, input#email {
    height: 40px;
}
input#name, input#email, textarea#comments {
	font-size: 15px;
}
section.contact-us form button {
	padding: 7px 30px;
	font-size:18px;
}
.list-inline>li {
	padding-right: 1px;
    padding-left: 0px;
}
section.contact-us .contact-info .contact-details p.p1 {
	font-size: 15px;
	margin: -52px 0 12px 60px;
}
section.contact-us .contact-info .contact-details p.p2 {
	font-size: 15px;
	margin: 0px 0 20px 60px;
}
.contact-details {
    margin-left: 0px;
}
section.contact-us .contact-info .contact-details span.glyphicon {
	font-size:20px;
}
.navbar-toggle {
	margin-right: 8px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
footer .footer-above p {
    font-size: 15px;
}
section.about-us, section.our-services, section.our-skills, section.our-gallery, section.our-updates, section.contact-us {
    padding: 20px 0 20px;
}
footer .footer-below p {
    color: #fff;
    font-size: 13px!important;
    font-weight: 400;
    line-height: 1.9em;
}
}